<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", url: site.url, metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }} font-inter antialiased">
    <div class="start flex w-full h-screen justify-center items-center initial-text">
      <h1 class="text-sky-700 text-3xl font-marcellus"><span class="text1">Personal</span> <span class="text2">Photography</span> <span class="text3">Projects</span></h1>
    </div>
    <main class="lg:relative initial-content">
      {% render "mobile_navbar", metadata: site.metadata, page: page, collections: collections %}

      <div class="mx-auto w-full h-screen flex flex-row -mt-16 lg:mt-0">
        <div class="px-4 sm:px-8 xl:pr-8 w-[35rem] hidden lg:block">
          {% render "navbar", metadata: site.metadata, page: page, collections: collections %}
        </div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
